{% extends "base.html" %} {% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Leave Request</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-danger ">
            {{ messages[0] }}</a>
        </div>
        {% endif %} {% endwith %}

        <form method="POST" action="/leave_request">

            <div class="field">
                <label class="label">Type of Leave</label>
                <div class="control">
                    <div class="select is-large is-fullwidth">
                        <select name="types"> 
                            {% for type in types %}
                      <option value={{ type.leave_type_id }}>{{ type.name }}</option>
                      {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Start Date</label>
                <div class="control">
                    <input class="input is-large" type="date" required="required" name="start_date" autofocus="">
                </div>
            </div>
            <div class="field">
                <label class="label">End Date</label>
                <div class="control">
                    <input class="input is-large" type="date" required="required" name="end_date" placeholder="End Date" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Comment</label>
                <div class="control">
                    <input class="input is-large" type="text" name="comment" placeholder="Comments">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
        </form>
    </div>
</div>
</div> {% endblock %}