{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{action}} an employee</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}</a>
        </div>
        {% endif %} {% endwith %}
        <form method="POST" action={{formaction}}>

            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    {% if employee %}<input class="input is-large" type="text" name="first_name" value={{employee.first_name}} autofocus=""> {% else %}
                    <input class="input is-large" type="text" name="first_name" placeholder="First Name" autofocus="">{% endif %}
                </div>
            </div>

            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    {% if employee %}<input class="input is-large" type="text" name="last_name" value={{employee.last_name}} autofocus=""> {% else %}
                    <input class="input is-large" type="text" name="last_name" placeholder="Last Name" autofocus="">{% endif %}
                </div>
            </div>

            <div class="field">
                <label class="label">Start Date</label>
                <div class="control">
                    {% if employee %}<input class="input is-large" type="text" name="start_date" value={{employee.start_date}} autofocus="">{% else %}
                    <input class="input is-large" type="date" name="start_date" placeholder="Start date" autofocus="">{% endif %}
                </div>
            </div>

            <div class="field">
                <label class="label">Manager</label>
                <div class="control">
                    <div class="select is-large is-fullwidth">
                        <select name="manager">
                  {% for manager in managers %}
                  <option value={{ manager.manager.id }} selected>{{ manager.manager.name }}</option> 
                  {% endfor %}
                 
                </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Is Administrator</label>
                <div class="select is-large dropdown is-fullwidth"> <select name="is_admin">
                      <option value="false">False</option>
                      <option value="true">True</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">Is Manager</label>
                <div class="select is-large dropdown is-fullwidth"> <select name="is_manager">
                      <option value="false">False</option>
                      <option value="true">True</option>
                    </select>
                </div>
            </div>
            {% if employee %}<button class="button is-block is-info is-large is-fullwidth" name="id" value={{employee.id}}>Save</button>{% else %}
            <button class="button is-block is-info is-large is-fullwidth">Save</button>{% endif %}
        </form>
    </div>
</div>
{% endblock %}